%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %title= @title
    %link{type: 'text/css', rel: 'stylesheet', href:'/css/main.css'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps'}
  %body{id:@action}
    = render(:haml,:'partial/_header')

    = render(:haml,:'partial/_flash')

    =yield

    = render(:haml,:'partial/_footer')

