%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %title= @title
  %body{id:@action}
  -if flash[:notice]
    %li= flash[:notice]

  -if current_user
    %p= 'Welcome, ' + current_user.email
    %form{action:'/sessions',method:'post'}
      %input{type: 'hidden', name:'_method',value:'delete'}
      %input{type: 'submit',name: 'submit', value: 'Sign out' }

  =yield
