%h1 Bookmark Manager

%ul
  -@links.each do |link|
    %li
      %a{title: link.title,href: link.url}
        =link.title

#new-link
  %form{ action: '/links', method: 'post'}
    %label{for: 'title'} Title:
    %input{type: 'text', name: 'title'}
    %label{for: 'url'} Url:
    %input{type: 'text', name: 'url'}
    %label{for: 'tags'} Tags:
    %input{type: 'text', name: 'tags'}
    %input{type: 'submit',name: 'submit', value: 'Add link' }


