#footer{class: 'footer'}
  #makers-logo
    %a{href:'http://www.makersacademy.com/'}
      %img{class:'footer_image',src: 'http://www.makersacademy.com/assets/logo.png'}
  #technologies
    %p I built this page at MakersAcademy, a highly selective 12 week coding course in London.
    %p This website is built using Ruby, Sinatra, RSpec, Capybara, HTML and CSS.