#header
  #logo
    Bookmark Manager
  #add-links
    %a#add-link{class:'button' }Add link
  #user-links
    -if current_user
      %span{id: 'welcome-message'}= 'Welcome, ' + current_user.email
      %form{action:'/sessions',method:'post',id: 'sign-out'}
        %input{type: 'hidden',name: '_method',value:'delete'}
        %input{type: 'submit',name: 'submit', value: 'Sign out' }
    -else
      %a#sign-up{class:'button'}Sign up
      %a#sign-in{class:'button'}Sign in