%li{id:'links'}
  %a{class:'title',title: link.title,href: link.url}=link.title
  #description
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  %span{class:'source' }=link.title