%h1 Reset Password


%form{action: '/users/reset', method:'post'}
  %label{for: 'email'} Email:
  %input{type: 'text', name: 'email'}
  %input{type: 'submit',name: 'submit', value: 'Reset password' }


