%h1 Reset Password


%form#reset-password{action: '/users/reset', method:'post'}
  .field
    %label{for: 'email'} Email:
    %input{type: 'text', name: 'email'}
    %input{class:'button',type: 'submit',name: 'submit', value: 'Reset password' }


