%h1 Enter new password

%form#reset-password-form{action: '/users/reset-password', method:'post'}
  .field
    %label{for: 'password'} New Password:
    %input{type: 'password', name: 'password'}
    %label{for: 'password_confirmation'} Confirm New Password:
    %input{type: 'password', name: 'password_confirmation'}
    %input{type: 'hidden',name: 'token',value: @token}
    %input{class:'button',type: 'submit',name: 'submit', value:'Reset your password' }
